



<div class="bs-docs-section">
  <h1 id="history" class="page-header" style="font-size: 60px;">360 Review</h1>

  <p class="lead">An application that utilizes sentiment analysis to provide businesses owners with clear common sentiments (both positive and negative) that surround their business.</p>
  <p>Businesses operate to serve their customers, so there is value in catering to a customer’s specific needs as presented in the unadulterated form of online reviews. The stakeholders and users are the businesses analyzing their reviews and also, indirectly, the customers that businesses will serve. </p>
</div>



<div class="bs-docs-section">
  <h1 id="team" class="page-header">Value</h1>

  <p class="lead">The value of this application lies in providing businesses with specific measures of sentiment from their customers, and allowing business owners to evaluate their strengths and weaknesses to understand potential growth areas. </p>
  <br>

  <h2 id="team-core" class="page-header">Sentiment Analysis</h2>
<p>Sentiment analysis is able to check any block of text, and evaluate whether it is positive or negative, or even smaller sentiments such as confident, tentative, sad, excited etc.. For businesses, sentiment analysis extracts feelings and meaning from huge amounts of text, allowing business owners to measure existing public perception of their business. <p>
