<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Landing Page</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="/Users/avnipherwani/360-review/app/assets/stylesheets/cover.css" rel="stylesheet"> -->

    <link href="carousel.css" rel="stylesheet">


    
    <script src="../../assets/js/ie-emulation-modes-warning.js">    </script>

     

  </head>
  
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="welcome">360-Review</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="login">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>


           <%= image_tag("pic3.png", :alt => "home image", :class => "first-slide") %>
          <div class="container">
            <div class="home">
               <h1>360-REVIEW</h1>
              <h2>CUSTOMER REVIEWS. ANALYZE. VALUE</h2>
          <h3>Instant access to real time restaurant sentiment analysis</h3>
          <br>
          <p><a class="btn btn-lg btn-primary" href="login" role="button">Login</a></p>
        </div>
            </div>
          
        

            
  <div class="text">
  <p>An application that utilizes sentiment analysis to provide businesses owners with clear common sentiments (both positive and negative) that surround their business.
  Businesses operate to serve their customers, so there is value in catering to a customer’s specific needs as presented in the unadulterated form of online reviews. The stakeholders and users are the businesses analyzing their reviews and also, indirectly, the customers that businesses will serve. </p>
</div>
<hr>



    <!-- Three columns of text below the carousel -->
    <div class="features">
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag("review.png", :alt => "home image", :class => "img-rounded") %>
          <h2>Diverse Sources</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("analytics.png", :alt => "home image", :class => "img-rounded") %>
          <h2>In-Depth Analytics</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("insight.png", :alt => "home image", :class => "rounded") %>
          <h2>Unique Insights</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

    
     

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
   <footer>
  &copy; Copyright 360-Review
</footer>
</html>
