<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Landing Page</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="/Users/avnipherwani/360-review/app/assets/stylesheets/cover.css" rel="stylesheet"> -->

<%= stylesheet_link_tag :cover %>


    
    <script src="../../assets/js/ie-emulation-modes-warning.js">    </script>

     

  </head>
  
  <body background-image: img src="/img.jpg" alt="rss feed" />

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <nav>
                
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading" style="font-size: 50px;top: 20px; position: absolute;left: 100px;">360-REVIEW</h1>
            <ul class="nav navbar-nav navbar-right" style="margin: -240px -350px 50px 0px;">
            <li><a href="../navbar/">Welcome</a></li>
            <li><a href="../navbar-static-top/">About</a></li>
            <li class="active"><a href="./">More<span class="sr-only">(current)</span></a></li>
          </ul>
            <p class="lead" style="font-size: 35px; white-space: nowrap; text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
">CUSTOMER REVIEWS. ANALYZE. GENERATE VALUE</p>
            <br>
            <br>
            <p class="lead">
              <a href="about" class="btn btn-lg btn-default" style="a: active:background-color: white; margin: 50px;">What we do</a>


         <a href="login" class="btn btn-lg btn-default">Login/Signup</a>

            </p>
          </div>

          </div>

        </div>

     

    </div>
</a>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
