<p>This site is designed to show results from IBM Watson Natural Language Understanding API</p>

<h1>Home#index</h1>
<h1><%= @review.source%></h1><br>
<h1><%= @review.content%></h1><br>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to 'Add a new review to our list', new_review_path %>
<p class="supertiny">&nbsp;</p>
<%= link_to 'See all our reviews here', reviews_path %>